<table class="table">
  <tbody>
    <tr>
      <td>Hard drop</td>
      <td>2×distance</td>
    </tr>
    <tr>
      <td>1 cleared line</td>
      <td>100</td>
    </tr>
    <tr>
      <td>2 cleared lines</td>
      <td>300</td>
    </tr>
    <tr>
      <td>3 cleared lines</td>
      <td>500</td>
    </tr>
    <tr>
      <td>4 cleared lines</td>
      <td>800</td>
    </tr>
    <tr>
      <td>Subsequent line clears</td>
      <td>+50×combo count</td>
    </tr>
  </tbody>
</table>
Scores are multiplied by the level