<table class="table">
  <tbody>
    <tr>
      <th>Move</th>
      <th>Touch</th>
      <th>Keyboard</th>
    </tr>
    <tr>
      <td>Left</td>
      <td>Drag left</td>
      <td>Left arrow</td>
    </tr>
    <tr>
      <td>Right</td>
      <td>Drag right</td>
      <td>Right arrow</td>
    </tr>
    <tr>
      <td>Rotate</td>
      <td>Tap</td>
      <td>Space, Enter, Up</td>
    </tr>
    <tr>
      <td>Hard drop</td>
      <td>Swipe down</td>
      <td>Down arrow</td>
    </tr>
  </tbody>
</table>