<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of highScores.items">
      <td class="w-50 text-break">{{item.name}}</td>
      <td>{{item.score}}</td>
    </tr>
  </tbody>
</table>

<div class="row p-2">
  <button type="button" class="btn btn-danger" (click)="resetHighScores()">Reset</button>
</div>
