<div #rendererContainer
  (tap)="onTap()"  
  (panLeft)="onPanHorizontal('left', -$event.deltaX)"
  (panRight)="onPanHorizontal('right', $event.deltaX)"
  (swipeDown)="onSwipeDown()"
  (touchend)="onFinishGesture()"
  (mouseup)="onFinishGesture()"
  >
</div>

<button id="menu-button" type="button" class="btn btn-light" (click)="openMainMenu()">
</button>
