
/** Renderer container takes full screen. */
div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/** Image for menu button at the bottom right of the screen. */
#menu-button {
    background-image: url('/assets/images/menu-button.svg');
    width: 32px;
    height: 32px;

    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}
