<div class="modal-body container">
  <form #form="ngForm">

    <h4 class="text-center mb-2">New high score!</h4>

    <div class="form-group">

      <p>Congratulations! Your score {{score}} belongs to top {{maxHighScores}} scores.</p>

      <label for="nameInput">Please enter your name:</label>

      <input id="nameInput" name="nameInput" class="form-control" placeholder="Enter name" maxlength="20"
        [(ngModel)]="newName" #nameInput="ngModel" required>
    </div>

    <div class="row p-2">
      <button type="button" class="btn btn-secondary opacity-100" (click)="done()" [disabled]="form.invalid">
        {{form.invalid ? 'Please enter name' : 'OK'}}
      </button>
    </div>

  </form>
</div>