<div class="modal-body container">

  <h4 class="text-center mb-2">{{subPage}}</h4>

  <app-new-game *ngIf="subPage === SubPage.NewGame" (closeMenu)="closeMenu()"></app-new-game>
  <app-high-score-table *ngIf="subPage === SubPage.HighScores"></app-high-score-table>
  <app-controls *ngIf="subPage === SubPage.Controls"></app-controls>
  <app-scoring *ngIf="subPage === SubPage.Scoring"></app-scoring>

  <div *ngIf="subPage === SubPage.MainMenu">
    <div class="row p-2">
      <button class="btn btn-secondary" (click)="subPage = SubPage.NewGame">New game</button>
    </div>
    <div class="row p-2" *ngIf="isSavingAvailable">
      <button class="btn btn-secondary" (click)="subPage = SubPage.HighScores">{{SubPage.HighScores}}</button>
    </div>
    <div class="row p-2">
      <button class="btn btn-secondary" (click)="subPage = SubPage.Controls">{{SubPage.Controls}}</button>
    </div>
    <div class="row p-2">
      <button class="btn btn-secondary" (click)="subPage = SubPage.Scoring">{{SubPage.Scoring}}</button>
    </div>
  </div>

  <div class="row p-2">
    <button type="button" class="btn btn-secondary" (click)="closeMenu()" *ngIf="subPage === SubPage.MainMenu">Close</button>
    <button type="button" class="btn btn-secondary" (click)="subPage = SubPage.MainMenu" *ngIf="subPage !== SubPage.MainMenu">Back</button>
  </div>

</div>