
#body {
    user-select: none; /* Prevent user selecting text. */
    overflow-y: hidden; /* Hides any extra content. Prevents scrolling when mobile phone buttons are displayed. Prevents refreshing the page by down gesture. */
}

/** Adds background to menu. */
.modal-body {
    background-image: url('/assets/images/bricks.jpg');
}

/** Adds outline and boldness to text so it is visible on textured background. */
.modal-body, .table th, .table td {
    color: white;
    font-weight: bold;
    text-shadow: -2px 0 0 #444, 2px 0 0 #444, 0 2px 0 #444, 0 -2px 0 #444, -2px -2px 0 #444, 2px 2px 0 #444, -2px 2px 0 #444, 2px -2px 0 #444;
}
